name: build-resources

on:
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/zerocluster/node
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: softvisio/actions/setup-npm@latest

      - uses: softvisio/actions/checkout@latest

      - run: |
          apt-get update
          apt-get install -y git
          cd build
          npm install --ignore-scripts
          npm run build
        shell: bash
